<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/dist/styles.out.css"/>
    <title>Blackjack</title>
</head>
<body>
<div id="root">

</div>
<script type="text/javascript" src="/dist/vendor.bundle.js"></script>
<script type="text/javascript" src="/dist/app.bundle.js"></script>
@*<script type="text/javascript" src="/dist/styles.out.css"></script>*@
</body>
</html>