.place{
    display: table;
    text-align: center;
    height: 200px;
    border: 1px solid black;
    .inner_middle{
        vertical-align: middle;
        display: table-cell;
    }
    button{
        background: white;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 23px;
        width: 34px;
        &:hover{
            background: lightgrey;
        }
    }
    p{
        margin: 0;
        font-size: 13px;
    }
}